apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasklist-app
  labels:
    app: tasklist
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tasklist
  template:
    metadata:
      labels:
        app: tasklist
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
