apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tasklist
  template:
    metadata:
      labels:
        app: tasklist
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: tasklist
          image: ghcr.io/team-m4/tasklist-app:0bf57d898a51b285dc0f988410e7c5c2406510fc
          ports:
            - containerPort: 8080
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: DB_URL
              value: "jdbc:postgresql://postgres-service:5432/tasklistdb"
