apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tasklist-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Team-M4/Tasklist-K8S.git
    targetRevision: main
    path: k8s
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tasklist-app-appdynamics
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/MasbiMpho/AppD2.git
    targetRevision: main
    path: .
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: appdynamics
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
