apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgres-application
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Team-M4/Tasklist-K8S.git
    targetRevision: main
    path: k8s/postgres
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
